<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <style>
        .b2{
            background: navy;
            color: white;
            font-size: 9pt;
        }
    </style>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
    <br/>
    <label for="department">Enter department: </label>
    <input type="text" th:field="*{department}" id="department"/>
    <div style="color:red" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">department Error</div>
    <br/>
    <input type="submit" class="b2"  value="Update"/>
</form>
<br>
<form th:method="GET" th:action="@{/users}">
    <input type="submit" th:class="b2" value="Main menu">
</form>
<br/>
</body>
</html>